@import 'normalize';

.header {
  width: 100%;

  h1 {
    text-align: center;
  }
}

.main {
  
  &__table {
    border-collapse: collapse;
    width: 100%;

    td {
      border: 1px solid #cfcfcf;
    }
    
    th, td {
      text-align: left;
      padding: 8px;
    }

    // tbody tr:hover {
    //   background-color: #cfcfcf;
    // }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }
}